* {
  box-sizing: border-box;
}

html {
  background-image: url(../imagenes/patitas1.jpg);
  background-repeat: round;
}

body {
  max-width: 1000px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgba(175, 219, 223, 0.644);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  color: #0e0d0d;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  width: 100%;
}

.portada {
  width: 100%;
  height: 400px;
}
.portada img {
  width: 70%;
  height: 400px;
  border-style: ridge;
}

.barra li, .barra1 li {
  display: inline;
  border-style: solid;
  border-color: #157c80;
  padding: 10px 10px 10px 10px;
  background-color: #1bf0a9;
}
.barra li a, .barra1 li a {
  text-decoration: none;
}

.barra1 li {
  transform: rotate(10deg);
  border-radius: 10px;
}

input, select {
  background-image: radial-gradient(#8acedf, #5dcf7c);
}

/* estilo para el registro*/
textarea {
  font-family: "Roboto", sans-serif;
  font-family: "Zen Old Mincho", serif;
  background-image: radial-gradient(#8acedf, #5dcf7c);
}

a:hover {
  color: grey;
  transform: scale(1.3, 1);
}

/*-------------------------- flex box----------------------------------*/
.head_generico {
  width: 100%;
  height: 400px;
  background-image: url(../imagenes/img_adopta2.jpg);
  background-repeat: round;
  display: flex;
  justify-content: flex-end;
}
.head_generico li:hover > #submenu1 {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}
.head_generico h1 {
  margin-top: 10px;
  position: absolute;
  color: #1dd195;
  background-color: black;
}
.head_generico nav #submenu1 {
  display: none;
  min-width: 140px;
}
.head_generico nav #submenu1 a {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
}
.head_generico nav ul li {
  width: 10%;
  width: 250px;
  display: block;
}

/* Sombreado*/
/*grid*/
/*------------------------ propiedades para telefonos------------------------------------*/
.grid {
  display: grid;
}
.grid .barra {
  display: grid;
  padding: 0;
  margin-top: 5px;
}
.grid aside {
  display: grid;
  border-style: solid;
  padding: 5px;
  grid-template-columns: auto;
  grid-row-gap: 10px;
  text-align: center;
  border: 1px solid black;
}
.grid footer {
  /*display: block;*/
  border: 1px solid black;
  background-image: linear-gradient(#8acedf, #5dcf7c);
}
.grid header {
  background-image: linear-gradient(#8acedf, #5dcf7c);
}

/* --estilo para el adopta-------*/
.contenido {
  display: grid;
  grid-template-columns: auto;
}
.contenido h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contenido .opcion1-adopta {
  margin: 20px;
  height: 100%;
  padding: 5px;
  background-image: linear-gradient(#b2e3f0, #abddb8, #b2e3f0);
  border: 1px solid green;
}
.contenido .opcion1-adopta .datosadopta {
  display: grid;
  font-style: oblique;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto;
}
.contenido .opcion1-adopta .datosadopta label {
  padding: 5px;
  height: 10px;
}
.contenido .opcion1-adopta .datosadopta input {
  margin: 10px;
  height: 60px;
}
.contenido .opcion1-adopta .datosadopta__mascota {
  display: grid;
  font-style: oblique;
  background-color: rgba(128, 128, 128, 0.39);
}
.contenido .opcion1-adopta .datosadopta__mascota select {
  padding: 5px;
  height: 40px;
  width: 100px;
}
.contenido .opcion1-adopta .datosadopta__mascota textarea {
  padding: 5px;
  height: 100px;
}
.contenido .opcion1-adopta .datosadopta__mascota .boton {
  height: 40px;
  width: 100px;
}
.contenido .galeria {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  font-style: oblique;
  grid-template-columns: auto auto auto;
}
.contenido .galeria .galeria_adopta {
  background-image: linear-gradient(#b2e3f0, #abddb8, #b2e3f0);
  border: 1px solid green;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.contenido .galeria .galeria_adopta img {
  width: 300px;
  height: 300px;
  margin: 50px;
}
.contenido .galeria .galeria_adopta .descripcion {
  position: relative;
  flex-basis: 310px;
}
.contenido .galeria .galeria_adopta .descripcion p {
  position: absolute;
  bottom: 0;
  margin: 5px;
  background-color: blue;
}

.informacion {
  background-color: rgba(175, 219, 223, 0.644);
  margin: 10px 10px;
  padding: 5px;
  border: 1px solid black;
}
.informacion p, .informacion h2 {
  margin: 20px 20px 20px;
}
.informacion .datosDueno1, .informacion .datosMascota1 {
  margin-top: 20px;
  display: grid;
  font-style: oblique;
  text-align: left;
  grid-template-columns: auto;
  margin: 20px;
}
.informacion .datosDueno1 input, .informacion .datosMascota1 input {
  height: 20px;
  width: 300px;
}
.informacion .datosDueno1 select, .informacion .datosMascota1 select {
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
}
.informacion .datosDueno1 .form-check-input, .informacion .datosMascota1 .form-check-input {
  height: 20px;
  width: 30px;
  margin-bottom: 10px;
}

.informacion, .resena, .contenido, .registratumascota, .rastreo {
  margin: 10px 10px;
  padding: 5px;
  border: 1px solid black;
}

/*--------------------------- propiedades para computadora-----------------------------*/
@media only screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 60% 40%;
  }
  .grid header {
    grid-column: 1/3;
    border: 1px solid black;
    text-align: center;
  }
  .grid .barra {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 5px;
  }
  .grid footer {
    grid-column: 1/3;
    border: 1px solid black;
  }
}
/* -----------------BEM----------------------------------------------------------*/
.resena {
  background-color: rgba(119, 136, 153, 0.664);
}
.resena .resena__titulo1 {
  text-align: center;
}
.resena .resena__titulo2 {
  text-align: end;
}

.rastreo h2 {
  text-transform: uppercase;
}
.rastreo .rastreo__form {
  background-image: linear-gradient(#b2e3f0, #abddb8, #b2e3f0);
  font-style: oblique;
  display: grid;
  grid-template-columns: auto;
  width: 500px;
}

.registratumascota {
  background-color: rgba(135, 222, 161, 0.466);
}
.registratumascota .registratumascota_datosDueno {
  background-color: rgba(95, 158, 160, 0.692);
  font-style: oblique;
  display: grid;
  width: 500px;
  height: 300px;
}
.registratumascota .registratumascota_datosm {
  background-color: rgba(95, 158, 160, 0.692);
  font-style: oblique;
  display: grid;
  width: 700px;
  height: 900px;
}
.registratumascota .registratumascota_datosm input {
  height: 50px;
  width: 300px;
}
.registratumascota .registratumascota_datosm .radio {
  height: 20px;
  width: 20px;
}
.registratumascota .registratumascota_datosm select {
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
}

#img-perro {
  display: none;
}

#img-gato {
  display: inline-block;
}

/*# sourceMappingURL=estilos.css.map */
